{% comment %} <!DOCTYPE html>
<html>
    <head>
        <title>Create Event</title>
    </head>
    <body>
        <h1>Create Event</h1>
        <form method="post" action="{% url 'create_event' %}">
            {% csrf_token %}
            <input type="text" id="ticket_name" name="ticket_name" /><br />
            <input type="date" id="ticket_date" name="ticket_date" /><br />
            <input type="image" id="ticket_image" name="ticket_image" /><br />
            <input type="number" id="price" name="price" /><br />

            <input type="submit" value="Issue Ticket" />
        </form>
    </body>
</html>
{% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create Event</title>
    </head>
    <body>
        {% if messages%}{% for message in messages %}{{ message }}{% endfor %}{% endif %}
        <h1>Create Event</h1>
        <form method="post" action="{% url 'create_event' %}">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Issue Ticket" />
        </form>
    </body>
</html>
